.main{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.user_login{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
}

.user_login > span {
  color: white;
  font-size: 2em;
}

.user_login > button {
  width: 80px;
}

.user_login > button:hover{
  cursor: pointer;
}

.videos_button:hover{
  cursor: pointer;
}

.content_container{
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid grey;
  box-shadow: rgba(255, 255, 255, 0.15) 20px 20px 5px;
}

.video_player_container{
  background: black;
  border-radius: 4px;
  height: 500px;
}

.video_list_container{
  border-radius: 4px;
  width: 902px;
  height: 20dvh;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  overflow-y: scroll;
}

.video_list_element{
  transition: 0.3s;
  font-size: 1em;
  background: white;
  margin: 0px 0px 10px 0px;
  padding: 5px 15px 5px 15px;
  border-radius: 16px;
  width: fit-content;
  font-weight: bold;
}

.video_list_element:hover{
  transition: 0.3s;
  transform: translateX(10px);
  cursor: pointer;
  background: rgb(154, 154, 154);
}